<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hello Manila, we meet again for the 65th miss Universe</p>
        <p>Hello Manila, we meet again for the 65th miss Universe</p>
        <p>Hello Manila, we meet again for the 65th miss Universe</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>